//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{domain}}" {
        type master;
        file "/etc/bind/db.{{domain}}.zone";
};

zone "2.168.192.in-addr.arpa" {
        type master;
        notify no;
        file "/etc/bind/db.192.168.2.zone";
};
